* {
	box-shadow: none !important;
	border-radius: 0px !important;
	text-shadow: none !important;
}

[data-role="header"] {
	background: #000 !important;
	color: #fff !important;
	height: 45px !important;
}

#tasks [data-role="header"] a {
	margin: -3px -5px 0 0px !important;
	height: 43px !important;
	display: table !important;
	padding-right: 10px !important;
}

#tasks form.ui-filterable {
	margin-top: -16px !important;
}
